/* project fonts */
:root{
    --ff1: Arial, Helvetica, sans-serif;
    --ff2: Arial, Helvetica, sans-serif;

    --H1: 48px var(--ff1);
    --H2: 27px var(--ff1);
    --p: 15px var(--ff2);
    --p2: 16px var(--ff2);
    --p3: 13px var(--ff2);

}