/* Global styles */
@import url("../../CSS/Global/Global.css");
/* Utils styles */
@import url("../../CSS/Utils/Utils.css");
/* Variables styles */
@import url("../../CSS/Variables/Color/Color.css");
@import url("../../CSS/Variables/Font/Fonts.css");
@import url("../../CSS/Variables/Spacing/Spacing.css");


button{
    border-radius: var(--spacing8px);
    padding: var(--spacing8px) var(--spacing12px);
    border: black solid 1px;
    background-color: var(--background-color1);
    cursor: pointer;
}
